# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Logs
*.log

# Kafka / local data
kafka-data/
kraft-logs/
D:/kafka-data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
config/*kafka.yaml
config/*sqlserver.yaml
config/*mqtt.yaml